:root {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    --fontOne: 'Montserrat', sans-serif;
    --fontTwo: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    border: 0;

}

.first {
    background-image: linear-gradient(67deg, rgb(139, 139, 237), rgb(30, 30, 229));
    text-align: center;
    padding: 50px 70px;
    font-family: var(--fontOne);
    font-size: small;
}

.first h1 {
    font-family: var(--fontTwo);
    font-weight: bolder;
}

.first img {
    border-radius: 100px;
}

.first button {
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
    background-image: linear-gradient(to right, rgb(212, 212, 72), rgb(235, 96, 26));
    background-size: 300%;
    /* background-position: left; */
    animation: btn 3s infinite alternate;
    color: aliceblue;
}

.first span {
    color: red;
}

@keyframes btn {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }

}

/* second */

.second {
    font-family: var(--fontOne);
    padding: 50px 100px;
    text-align: center;
    font-size: small;
}

.second h3 {
    font-weight: bolder;

}

/* third */

.third {

    background-color: cornflowerblue;
    padding: 50px 100px;
    text-align: center;
    font-family: var(--fontOne);
    font-size: small;
}

.third h1 {
    font-family: var(--fontTwo);
}

/* FOURTH */

.fourth {
    font-size: small;
    padding: 50px 0 ;
}

.fourth h1 {
    box-sizing: border-box;
    text-align: center;
    font-family: var(--fontOne);
    padding:0 100px;
    
}

.hello{
    padding:100px 0;
    display:flex;
    justify-content: center;
}


.hexagon{
    width:104px;
    height:100px;
    position: relative;
    background-color: white;
    margin:10px;
    box-shadow: 1px 1px 10px rgb(217, 95, 95);

}

.hexagon::before{
    content:"";
    width:0;
    height:0;
    border-bottom: 30px solid white;
    border-left: 52px solid transparent;
    border-right:52px solid transparent;
    position:absolute;
    bottom:100px;
}

.hexagon::after{
    content:"";
    width:0;
    height:0;
    border-top:30px solid white;
    border-right:52px solid transparent;
    border-left:52px solid transparent;
    position:absolute;
    top:100px;
}

.p1{
text-align: center;
font-size: 2em;
margin:0;
padding:0;
font-family: var(--fontTwo);
font-weight: bolder;
opacity: .4;
}

.p2{
    text-align:center;
    font-family: var(--fontOne);
}

.hexagon:nth-child(1){
    position:relative;
    top:40px;
}

.hexagon:nth-child(3){
    position:relative;
    top:40px;
}

/* fifth */

.fifth {
    box-sizing: border-box;
    padding: 20px 100px;
    background-color: rgb(8, 8, 199);
    font-family: var(--fontTwo);

}

.flexbox {
    display: flex;
    text-align: center;
    /* flex:1 1 100px; */
    justify-content: space-around;

}

@media (max-width:780px) {
    .flexbox {
        display: flex;
        flex-wrap: wrap;
    }
}



.box {
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.flexbox h3 {
    opacity: .4;
}

.flexbox h1 {
    font-weight: bolder;
}

.grid {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 4rem);
}

.grid1,
.grid2,
.grid3 {

    background-color: white;
    border-radius: 10px;
    text-align: center;

}

.grid2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid3 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
}

.grid1 {
    grid-row: 1/3;
}

@media (max-width:780px){
    .grid{
        display:grid;
        gap:10px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,6rem);
    }
}

/* sixth */

.sixth {
    box-sizing: border-box;
    padding: 100px 100px;
    text-align: center;
    font-family: var(--fontTwo);
}

.sixth p {
    font-size: small;
}

.image {
    display: flex;
    justify-content: center;
    width: auto;
}

.image2,
.image1 {
    text-align: center;
    margin: 10px 50px;
}

.sixth h5 {
    text-align: left;
    margin: 5px 0;
}

.terms {
    padding: 0 100px;
}

p span {
    font-weight: bolder;
    font-size: large;

}

@media (max-width:780px){
    .terms h5{
        text-align: center;
    }
}



/* seventh */

.seventh {
    background-image: url("./images/computer.jpeg");
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontTwo);
    color: red;
    text-shadow: 5px 5px 20px rgb(235, 122, 122);
}

.seventh button {
    padding: 10px 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 1px 10px rgb(235, 122, 122);
    color: brown;
}

.seventh button:hover {
    transition: all 1s;
    box-shadow: 1px 1px 10px red;
    color: red;
}

/* eighth */

.eighth {
    text-align: center;
    font-family: var(--fontTwo);
    padding: 50px 100px;
}



.dates {
    display: inline-flex;
    margin-top: 10px;
}

.dates p {
    margin: 0 5px;
}

.dates1 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40vw;
    background-color: rgb(222, 221, 221);
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    height: 37px;
}

.dates2 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20vw;
    padding-left: 10px;
    background-color: rgb(25, 10, 122);
    border: 0;
    border-radius: 5px;
    color: white;
}

ul {
    line-height: 30px;
    text-align: left;
    padding: 0 50px;
}

@media (max-width:780px){
    .dates1{
        text-align:left;
    }
}

